 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 83px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 66px;
  min-height: 16px;
  width: 410px;
  min-width: 160px;
  margin: 52px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(255, 69, 0) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 121px auto 0 106px;
  padding: 13px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 667px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 580px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 65px 14px 0 23px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 120px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 119px;
    margin-left: 228px;
    margin-right: 228px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 640px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}